$font: "Open Sans", sans-serif;
$primary-color: #18d26e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: $font;
}
section{
    padding: 30px 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}
// reuseable 
.heading{
    color: #000000;
    font-size: 34px;
    font-family: $font;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;
    line-height: 2;
}
.heading::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.heading::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}
.heading-text{
    color: rgba(0, 0, 0, 0.6);
    margin: 20px 20px 0 20px;
    font-size: 18px;
    text-align: center;
}

// header section 
#header-section {
    position: relative;
    nav{
        position: absolute;
        padding: 30px 50px;
        top: 0;
        left: 0;
        right: 0;
        &.nav-bg{
            background: rgba(0, 0, 0, 0.9);
            padding: 10px 50px;
            transition: all 0.5s;
            position: fixed;
        }
        button{
            
            &:focus{
                outline: none;
                border: none;
            }
            &:hover i{
                color: $primary-color;
            }
            
        }
        #main-nav-id{
            padding-top: 15px;
        }
        .navbar-toggler-bar{
            color: #fff;
            font-size: 30px;
            outline: none;
        }
        #logo{
            font-size: 28px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            border-left: 5px solid $primary-color;
            padding-left:10px ;
        }
    }
    .navbar{
        z-index: 120020;
    }
    .nav-link{
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        &:hover{
            color: $primary-color;
        }
    }
    #carouselId{
        .carousel-item{
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
            }
        }
        .carousel-caption {
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            width: 60%;
            h2{
                color: #fff;
                margin-bottom: 15px;
                font-size: 40px;
                font-weight: 700;
            }
            .btn{
                padding: 10px 30px;
            }
        }
    }
}


// Header after section 
#header-after-section{
    background: #000;
    padding: 30px 0 10px 0;
    i{
        font-size: 60px;
        color: $primary-color;
    }
    h3{
        color: #fff;
        font-size: 22px;
        margin: 5px 0;
    }
    p{
        color: rgba(255, 255, 255, 0.6);
        font: 12px;
        text-align: justify;
    }
    .box-bg{
        background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
    }
}

// About sectiuon 
#about-us-section{
    background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url('../img/about-bg.jpg') no-repeat;
    background-position:center center;
    background-size: cover;
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .about-box{
        text-align: center;
        img{
            border-radius: 4px 4px 0 0;
        }
        i{
            font-size: 30px;
            color: #fff;
            background: $primary-color;
            width: 80px;
            height: 80px;
            padding: 20px;
            margin: -50px;
            border-radius: 50%;
            border: 4px solid #fff;
            transition: .2s;
            
        }
        h5{
            font-size: 24px;
            font-weight: bold;
            text-transform: capitalize;
            margin-top: 30px;
        }
        p{
            font-size: 14px;
            padding: 0 20px;
            padding-bottom: 20px;
            text-align: justify;
        }
        .box{
            margin: 0 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            &:hover i{
                color: $primary-color;
                background: #fff;
            }
        }
    }
}

// Services Section 
#services-section{

    .services-section-box{

        .fa{
            font-size: 40px;
            color: $primary-color;
            float: left;
        }
        h6{
            font-size: 22px;
            font-weight: bold;
            padding-left: 70px;
            padding-top: 5px;
        }
        p{
            font-size: 14px;
            padding-left: 70px;
            padding-top: 10px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}


// Call to action section 
#call-to-action{
    font-family: $font;
    text-align: center;
    background: url(../img/call-to-action-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    h1{
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 0;
    }
    .btn{
        margin: 10px 0;
        padding: 5px 30px;
        text-transform: uppercase;
        color: #fff;
        border: 2px solid #fff;
        transition: .5s;
        font-weight: bold;
        &:hover{
            border-color: $primary-color;
        }
    }
}

// Skill section 
#skill-section{

    .progress{
        margin-bottom: 10px;
    }
    .progress-bar{
        .skill{
            .skill-name{
                float: left;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                margin-left: 20px;
            }
            .skill-value{
                float: right;
                padding-right: 10px;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }

    .html{
        animation: html 1s linear;
    }
    @keyframes html {
        0%{
            width: 0%;
        }
        100%{
            width: 95%;
        }
    }
    
    .css{
        animation: css 1s linear;
    }
    @keyframes css {
        0%{
            width: 0%;
        }
        100%{
            width: 80%;
        }
    }

    .javascript{
        animation: javascript 1s linear;
    }
    @keyframes javascript {
        0%{
            width: 0%;
        }
        100%{
            width: 60%;
        }
    }

    .php{
        animation: php 1s linear;
    }
    @keyframes php {
        0%{
            width: 0%;
        }
        100%{
            width: 50%;
        }
    }
}


// Fact section 
#fact-section{
    background:linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(../img/facts-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .box{
        span{
            color: $primary-color;
            font-size: 40px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
        }
    }
}

// POrtfolio section 
#portfolio-section{

    background: rgba(241, 241, 241, 0.7);
    .portfolio-list{
        width: 80%;
        margin: 50px auto;

        ul{
            list-style-type: none;
            text-align: center;

            li{
                display: inline-block;
                padding: 10px 20px;
                font-size: 14px;
                text-transform: uppercase;
                cursor: pointer;
                border-radius: 4px;

                &.filter-active,
                &:hover{
                    background: $primary-color;
                    transition: .5s;
                    color: #fff;
                }
            }
        }
    }
    .portfolio-item{
        margin-bottom: 20px;
    }
    .portfolio-box{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

        figure{
            background: #000;
            position: relative;
            width: 100%;
            margin-bottom: 0;
            border-radius: 4px 4px 0 0;
            &:hover img{
                opacity: .4;
                transition: .3s;
            }
            &:hover i{
                opacity: 1;
                margin: 0 5px;
                transition: .3s;
            }
            img{
                border-radius: 4px 4px 0 0;
                
            }
        }
        .icon-box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            i{
                font-size: 22px;
                background: #fff;
                padding: 12px;
                border-radius: 50%;
                opacity: 0;
                color: #000;
                &:hover{
                    background: $primary-color;
                    color: #fff;
                }
            }
        }
    }

    .portfolio-info{
        text-align: center;
        padding-bottom: 5px;
        background: #fff;
        &:hover a{
            color: $primary-color;
            transition: .3s;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            text-transform: capitalize;
            font-weight: bold;
            color: #000;
            padding-top: 10px;
            display: block;
            
        }
        p{
            color: rgba(0, 0, 0, 0.6);
            font-weight: bold;
            text-transform: capitalize;
        }
    }    
}

// clients section 
#client-section{

    .client-carousel{
        margin: 50px 0;
        img{
            opacity: .7;

            &:hover{
                opacity: 1;
            }
        }
        .owl-dots{
            text-align: center;
            margin-top: 10px;
            .owl-dot{
                background: gray;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                display: inline-block;
                margin-left: 5px;
                &.active{
                    background: $primary-color;
                }
            }
        }
    }
}

#testimonial-scetion{

    background: rgba(241, 241, 241, 0.7);

    .testimonial-carousel{
        margin: 30px 0;
        text-align: center;

        .testimonial-item{
            img{
                width: 120px;
                border-radius: 50%;
                border: 4px solid #fff;
                margin: 0 auto;
            }
            h3{
                font-size: 22px;
                font-weight: bold;
                text-transform: capitalize;
                color: #000;
                margin: 5px 0;
            }
            h4{
                font-size: 14px;
                color: rgba(0, 0, 0, 0.6);
            }
            p{
                font-size: 16px;
                color: rgba(0, 0, 0, 0.6);
                font-style: italic;
                width: 80%;
                margin: 5px auto;
            }
            .quote-sing-left{
                margin-top: -15px;
                padding-right: 10px;
                display: inline-block;
                width: 37px;
                border: none;
            }
            .quote-sing-right{
                margin-bottom: -15px;
                padding-left: 10px;
                display: inline-block;
                width: 37px;
                border: none;
            }
        }
    }
    
    .owl-dots{
        text-align: center;
        margin-top: 10px;
        .owl-dot{
            background: gray;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 5px;
            &.active{
                background: $primary-color;
            }
        }
    }
}

// Team Section 
#team-section{
    .team-row{
        margin: 50px 0 40px 0;
    }
    .team-member{
        position: relative;
        text-align: center;
        background: #000;
        margin-bottom: 20px;
        &:hover img{
            opacity: .4;
            transition: .3s;
        }
        &:hover .member-info{
            opacity: 1;
            transition: .3s;
        }
        .member-info{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            .member-info-content{
                margin-top: -50px;
                transition: margin 0.3s;
                h3{
                    font-size: 20px;
                    color: #fff;
                    font-weight: bold;
                    line-height: .5;
                }
                p{
                    font-size: 12px;
                    font-style: italic;
                    color: #fff;
                }
            }
            i{
                font-size: 18px;
                padding: 3px;
                color: #fff;

                &:hover{
                    color: $primary-color;
                }
            }
        }
        
        &:hover .member-info-content{
            margin-top: 1px;
            transition: margin .3s;
        }
    }
}

// Contact Us section 
#contact-us-section{
    background: rgba(241, 241, 241, 0.7);

    .contact-info{
        margin: 50px 0 30px 0;

        .contact-box{

            padding: 10px 0;
            i{
                color: $primary-color;
                font-size: 50px;
                margin-bottom: 20px;
            }
            h3{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.4);
            }
            p{
                color: rgba(0, 0, 0, 0.8);
            }

            &:nth-child(2){
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                border-right: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }

    .contact-box{
        margin-top: 30px;
        input,textarea{
            width: 100%;
            border: 1px solid #ced4da;
            outline: none;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 16px;
            text-transform: capitalize;
            &:focus{
                border-color: #80bdff;
            }
        }
        textarea{
            height: 150px;
        }
        button{
            background: $primary-color;
            border: none;
            outline: none;
            margin: 0 auto;
            padding: 10px 30px;
            font-size: 18px;
            text-transform: capitalize;
            color: #fff;
            border-bottom: 3px solid #15a55b;
        
            &:hover{
                background: #15a55b;
            }
        }
    }
}

//Footer section
#footer-section{
    background: #111;
    margin-top: 20px;
    h4{
        font-size: 14px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;
    }
    h4::before{
        content:  '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.3);
    }
    h4::after{
        content:  '';
        display: block;
        position: absolute;
        width: 30%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: $primary-color;
    }
    .footer-info{

        
        .footer-logo{
            font-size: 34px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            border-left: 5px solid $primary-color;
            padding-left:10px ;
        }
        p{
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            padding: 10px 0;
        }
    }
    .footer-link{

        ul{
            margin-top: 20px;
            list-style: none;

            li{
                color: rgba(255, 255, 255, 0.8);
                padding: 5px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                &:hover a,
                &:hover i{
                    color: $primary-color;
                }
                a{
                    text-transform: capitalize;
                    padding-left: 10px;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
    .footer-contact{
        
        p{
            font-size: 14px;
            color: #fff;
            line-height: 1.8;
            margin-top: 24px;
        }
        .footer-link{
            margin-bottom: 20px;
            a{
                font-size: 18px;
                display: inline-block;
                background: #333;
                color: #eee;
                line-height: 1;
                padding: 8px 0;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;
                
                &:hover{
                    background:$primary-color;
                    
                }
                &:hover i{
                    transform: rotate(360deg);
                    transition: .5s;
                }
            }
        }
    }
    .footer-newsletter{
        p{
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            padding: 10px 0;
        }
        .subscribe{
            form{
                display: block;
            }
            input{

                &[type="text"]{
                    border: 0;
                    padding: 6px 8px;
                    width: 65%;
                    float: left;

                    &:focus{
                        outline: none;
                    }
                }
                &[type="submit"]{
                    background: #18d26e;
                    border: 0;
                    width: 32%;
                    padding: 9px 0;
                    text-align: center;
                    color: #fff;
                    transition: 0.3s;
                    cursor: pointer;
                    text-transform: capitalize;
                    font-size: 12px;
                    outline: none;

                    &:hover{
                        background: #106839;
                    }
                }
            }
        }
    }
}

#footer-info{
    background: #000;
    .info{

        p{
            font-size: 14px;
            color: #fff;

            i{
                font-size: 18px;
                font-style: normal;
                font-family: Raleway;
                color: $primary-color;
            }
        }
    }
}
