*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.clock{
    font-family:Raleway;
    font-size: 100px;
    text-align: center;
    color: greenyellow;
    border: 3px solid greenyellow;
    padding: 20px;
    margin: 200px 340px;

}