*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin:50px auto;
}

.btn{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: rgba(61, 59, 59, 0.7);
    cursor: pointer;
    border: 2px solid rgba(61, 59, 59);

}
.box{
    background: rgba(0, 0, 0, 0.2);
    display: none;
    
}
.box p{
    padding: 20px;
    
}
.show{
    display: block;
    
}

